
#header {
    -fx-background-color: #545454;
    -fx-font-size: 40px;
}

#trackName {
    /* -fx-fill: #971919; */
    -fx-border-color: #F2F2F2;
    -fx-border-width: 0 0 2 0;
}

#instrumentsPanel {
    -fx-background-color: #4E4E4E;
}

.instrumentSubPanel {
    -fx-background-color: #404040; 
    -fx-border-width: 2;
    -fx-border-color: #373737;
}

#timeline {
    -fx-background-color: #D9CFFE;
}

#instrumentsPattern {
    -fx-background-color: #000400;
}

.sixteenth {
    -fx-cursor: hand;
    /* 
    these don't work ... :( but should, according to https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html#rectangle
    
    -fx-arc-width: 30.0; 
    -fx-arc-height: 30.0; 
    */
}

