image: maven:latest
before_script:
  - cd sequencer

stages:
  - build
  - test
  - verify

build:
  stage: build
  script:
    - mvn compile

test:
  stage: test
  script:
    - mvn test

checkstyle:
  stage: verify
  script:
    - mvn install
    - mvn checkstyle:check
jacoco:
  stage: verify
  script:
    - mvn verify
    - cat report/target/site/jacoco-aggregate/index.html | grep -o 'Total[^%]*%' | sed -e 's/Total/Jacoco-Test-Coverage:/g'
  coverage: '/Jacoco-Test-Coverage\s*:\s*.*(\d+.?\d*)%/'
