# gitlab-runner exec docker jacoco
variables:
  SKIP_ALL_TESTS: -DskipTests=true
  IGNORE_UI_COVERAGE: -DfxuiScope=test
  SKIP_UI_TESTS: -Dtest=!SequencerControllerTest -DfailIfNoTests=false
  MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"
  MAVEN_CLI_OPTS: "--batch-mode"

image: maven:3-openjdk-16
#image: maven:3.3.9-jdk-16
before_script:
  - echo ${CI_PROJECT_DIR}
  - cd sequencer
  - mvn install $SKIP_UI_TESTS -DskipTests=true
  - mvn install -f report $SKIP_UI_TESTS -DskipTests=true

cache:
  paths:
    - .m2/repository
    - "*/target"
    - "*/*/target"

stages:
  - build
  - test
  - verify

build:
  stage: build
  script:
    - mvn compile

test:
  stage: test
  script:
    - mvn test $SKIP_UI_TESTS

checkstyle:
  stage: verify
  script:
    - mvn checkstyle:check

spotbugs:
  stage: verify
  script:
    - mvn spotbugs:check

jacoco:
  stage: verify
  cache:
    paths:
  script:
    - mvn verify $SKIP_UI_TESTS $IGNORE_UI_COVERAGE
    - 'cat report/target/site/jacoco-aggregate/index.html | grep -oP "Total[^%]*>\K\d+%{1}" | sed -e "s/^/Jacoco-Test-Coverage: /g"'
  coverage: '/Jacoco-Test-Coverage: (\d+.?\d*)%/'
