@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

#header {
    -fx-background-color: #545454;
        background-color: #545454;
}

#saveTrackBtn {
    -fx-cursor: hand;
        cursor: hand;
}

#savedTracksChoiceBox, #loadTrackBtn {
    -fx-font-size: 25px;
        font-size: 25px;
    -fx-cursor: hand;
        cursor: hand;
}

#loadTrackBtn {
    -fx-text-fill: white;
    -fx-background-color: #7739D4;
        background-color: #7739D4;
    -fx-transition-duration: 2s;
        transition-duration: 2s;
}

#loadTrackBtn:hover {
    -fx-background-color: #602caf;
        background-color: #602caf;
}

#loadTrackBtn:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

#trackNamePane, #artistNamePane {
    -fx-max-width: 200px;
        max-width: 200px;
}

#trackNameLabel, #artistNameLabel {
    -fx-fill: white;
        fill: white;
    -fx-font-size: 25px;
        font-size: 25px;
    -fx-font-family: 'Roboto', sans-serif;
        font-family: 'Roboto', sans-serif;
}

#trackName, #artistName {
    -fx-text-fill: white;
    -fx-font-size: 30px;
        font-size: 30px;
    -fx-background-color: transparent;
        background-color: transparent;
    -fx-font-family: 'Open Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
    -fx-padding: 0;
        padding: 0;
    -fx-border-width: 0 0 2 0;
        border-width: 0 0 2 0;
    -fx-border-color: white;
        border-color: white;
}

/* This does not work optimally, as the user cannot unfocus */
/* #trackName:focused, #artistName:focused {
    -fx-border-color: #CA7C10;
        border-color: #CA7C10;
} */

#startStopBtn {
    -fx-cursor: hand;
        cursor: hand;
}

#instrumentsPanel {
    -fx-background-color: #4E4E4E;
        background-color: #4E4E4E;
}

.instrumentSubPanel {
    -fx-background-color: #404040;
        background-color: #404040;
    -fx-border-width: 2;
        border-width: 2;
    -fx-border-color: #373737;
        border-color: #373737;
}

#savedTracksChoiceBox .label,
.availableInstrumentsChoiceBox .label {
    -fx-text-fill: white;
    -fx-font-family: 'Roboto', sans-serif;
        font-family: 'Roboto', sans-serif;
}

#savedTracksChoiceBox,
.availableInstrumentsChoiceBox {
    -fx-background-color: #2B2B2B;
        background-color: #2B2B2B;
    -fx-focus-color: #7739D4;
    -fx-faint-focus-color: #2B2B2B;
    -fx-control-inner-background: #2B2B2B;
    -fx-selection-bar: #7739D4;
    -fx-mark-color: white;
}

#savedTracksChoiceBox > .label,
.availableInstrumentsChoiceBox > .label { 
    -fx-text-fill: white;
}

#savedTracksChoiceBox .menu-item:focused .label,
.availableInstrumentsChoiceBox .menu-item:focused .label {
    -fx-text-fill: white;
}

#timeline {
    -fx-background-color: #D9CFFE;
        background-color: #D9CFFE;
}

#instrumentsPattern {
    -fx-background-color: #000400;
        background-color: #000400;
}

.sixteenth {
    -fx-cursor: hand;
        cursor: hand;
    -fx-arc-width: 30.0;
    -fx-arc-height: 30.0;
}

#statusMsgBackground {
    -fx-stroke-width: 3.2;
        stroke-width: 3.2;
    -fx-arc-width: 25.0; 
    -fx-arc-height: 25.0;
}

#statusMsgText {
    -fx-font-size: 25px;
        font-size: 25px;
    -fx-font-family: 'Open Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
}