@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(fonts/OpenSans-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/Roboto-Regular.ttf) format('ttf');
}

#content {
    -fx-pref-width: 1200px;
    -fx-pref-height: 660px;
    -fx-background-color: #313131;
        background-color: #313131;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
        border-radius: 15px;
    -fx-border-width: 5px;
        border-width: 5px;
    -fx-border-color: #222;
        border-color: #222;
    -fx-font-size: 30px;
        font-size: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(25, 25, 25, 0.7), 32, 0, 0, 0);
}

#header {
    -fx-background-color: inherit;
        background-color: inherit;
    -fx-backgorund-radius: 15px;
}

#title {
    -fx-fill: white;
        fill: white;
    -fx-font-size: 40px;
        font-size: 40px;
    -fx-font-family: 'Roboto', sans-serif;
        font-family: 'Roboto', sans-serif;
}

#modalCloser {
    -fx-background-color: #1F1F1F;
        background-color: #1F1F1F;
    -fx-pref-width: 70px;
    -fx-pref-height: 70px; 
    -fx-background-radius: 50%;
    -fx-cursor: hand;
        cursor: hand;
}

#modalCloser:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(70, 70, 70, 0.7), 15, 0, 0, 0);
}

#modalCloser:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

#trackNameField, #artistNameField, #timestampPicker {
    -fx-font-size: 30px;
        font-size: 30px;
    -fx-background-color: transparent;
        background-color: transparent;
    -fx-font-family: 'Open Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
    -fx-padding: 0;
        padding: 0;
    -fx-border-width: 0 0 2 0;
        border-width: 0 0 2 0;
    -fx-border-color: white;
        border-color: white;
    -fx-text-fill: white;
}

.date-picker > .text-field {
    -fx-background-color: transparent;
        background-color: transparent;
    -fx-text-fill: white;
}

.date-picker:editable > .arrow-button > * {
    -fx-opacity: 0;
        opacity: 0;
    -fx-background-color: transparent;
        background-color: transparent;
}

.date-picker > .arrow-button {
    -fx-background-color: transparent;
        background-color: transparent;
    -fx-background-image: url("images/calendar.png");
        background-image: url("images/calendar.png");
    -fx-background-size: 60% 60%;
        background-size: 60% 60%;
    -fx-background-repeat: no-repeat;
        background-repeat: no-repeat;
    -fx-background-position: center center;
        background-position: center center;
}

.date-picker > .arrow-button:hover {
    -fx-cursor: hand;
        cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(211, 211, 211, 0.7), 20, 0, 0, 0);
}

#searchBtn {
    -fx-cursor: hand;
        cursor: hand;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-background-color: #7739D4;
        background-color: #7739D4;
    -fx-border-color: #602CAF;
        border-color: #602CAF;
    -fx-border-radius: 10px;
        border-radius: 10px;
    -fx-border-width: 3.5px;
        border-width: 3.5px;
}

#searchBtn:hover {
    -fx-background-color: #602CAF;
        background-color: #602CAF;
    -fx-effect: dropshadow(three-pass-box, rgba(119, 57, 212, 0.5), 10, 0, 0, 0);
}

#searchBtn:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

#infoText {
    -fx-fill: #ECECEC;
        fill: #ECECEC;
    -fx-font-size: 20px;
        font-size: 20px;
}

#savedTracksPanel {
    -fx-background-color: #313131;
        background-color: #313131;
}

#savedTracksScrollPane {
    -fx-background: #313131;
        background: #313131;
    -fx-border-color: #313131;
        border-color: #313131;
}

#labelBox {
    -fx-background-color: #202020;
        background-color: #202020;
    -fx-padding: 10px;
        padding: 10px;
}

#labelBox > Text {
    -fx-font-size: 23px;
        font-size: 23px;
    -fx-fill: white;
        fill: white;
}

.trackOption {
    -fx-cursor: hand;
        cursor: hand;
    -fx-padding: 10px;
        padding: 10px;
    -fx-background-color: #D9CFFE;
        background-color: #D9CFFE;
}

.trackOption > Text {
    -fx-font-size: 23px;
        font-size: 23px;
}

.trackOption:hover {
    -fx-background-color: #C8BBF8;
        background-color: #C8BBF8; 
}

.trackOption:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}